<!-- <app-header [isLoggedIn]="true"></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <form #contactform="ngForm" (ngSubmit)="onSubmit(contactform)">
          <div class="mt-2">
            <input type="text" #challengerName="ngModel" name="challengerName"  class="form-control" [(ngModel)]="challenge.challengerName" placeholder="Challenger Name">
          </div>
          <div class="mt-2">
            <input type="text" #challengeTitle="ngModel" name="challengeTitle"  class="form-control" [(ngModel)]="challenge.challengeTitle" placeholder="Challenger Title">
            
          </div>
          <div class="mt-2">
            <ng-multiselect-dropdown formControl="challengeDomain" class="form-control"
                [placeholder]="'Interested Domain'" [settings]="dropdownSettings" [data]="dropdownList"
                [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="mt-2">
            <input type="date" #date="ngModel" name="date" required class="form-control" [(ngModel)]="challenge.date" placeholder="Date">
            <div class="text-danger" *ngIf="date.dirty && date.errors?.required">
              Date is required
            </div>
            </div>
          
          
          <div class="mt-2">
            <input type="text" #Abstract="ngModel" name="challengeAbstract"  class="form-control" [(ngModel)]="challenge.challengeAbstract" placeholder="Abstract">
           
          </div>
          <div class="mt-2">
            <input type="text" #description="ngModel" name="description"  class="form-control" [(ngModel)]="challenge.description" placeholder="Description">
          
          </div>
          <div class="mt-2">
            <input type="text" #rules="ngModel" name="rules"  class="form-control" [(ngModel)]="challenge.rules" placeholder="Rules">
           
          </div>
          <div class="mt-2">
            <button class="btn btn-primary">Upload Challenge</button>
          </div>
        </form>
      </div>
    </div>
  </div>
   -->

<app-header [isLoggedIn]="true"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form class="upload-in-form" [formGroup]="uploadChallenge" (ngSubmit)="onSubmit()">
        <div class="mt-2">
          <input type="text" formControlName="challengerName" class="form-control" placeholder="Challenger Name">

        </div>
        <div class="mt-2">
          <input type="text" formControlName="challengeTitle" class="form-control" placeholder="Challenge Title">

        </div>
        <div class="mt-2">
          <ng-multiselect-dropdown formControlName="challengeDomain" class="form-control"
            [placeholder]="'Challenge Domain'" [settings]="dropdownSettings" [data]="dropdownList"
            [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
          </ng-multiselect-dropdown>
        </div>
        <div class="mt-2">
          <input type="text" formControlName="challengeAbstract" class="form-control" placeholder="Challenge Abstract">
        </div>
        <div class="mt-2">
          <input type="date" class="form-control" placeholder="Challenge End Date" disabled>
        </div>
        <div class="mt-2">
          <input type="text" class="form-control" placeholder="Reward Prize" disabled>
        </div>
        <div class="mt-2">
          <input type="textarea" formControlName="description" class="form-control" placeholder="Description">
        </div>

        <div class="mt-2">
          <input type="text" formControlName="rules" class="form-control" placeholder="Rules">
        </div>
        <div class="mt-2">
          <button class="btn btn-primary">Upload Challenge</button>
        </div>
        <div class="mt-2" *ngIf="uploadSuccess">
          <p class="successMsg">{{successMessage}}</p>
        </div>
      </form>
    </div>
  </div>
</div>
