@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goblin+One&family=Rubik:ital,wght@0,300;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.container{
    height: 200rem;
    background-color:#777;
    color: rgb(129, 216, 216);
}
.text2{
    font-size: 18px;
    margin-left: 20px;
    font-family:"Lora";
}
.float-style{
    float: left;
}
.heading{
    text-align: center;
    padding-top: 5pt;
    font-family: "Pattaya";
}
.Info{
    font-family:"Lora";
    font-weight: bold;
}
#contact img{
    height: 100pt;
    margin-right: 5pt;
}
.container1{
    height: 20rem;
    background-color:rgb(51, 52, 124);
    color:rgb(140, 190, 180);
}
.footer{
    height: 40pt;
    margin-top: 10pt;
    background-color: rgb(127, 175, 207);
    text-align: center;
    color: cyan;
    padding-top: 7pt;
}
